@model WCSummerCampRegistration.Models.Camp

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Camp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" id="NameValidation" name="NameValidation" class="text-danger"></span>
                @*@Html.ValidationMessageFor(m => m.Name, "Please enter student name.", new { @class = "text-danger" })*@
            </div>
            <div class="form-group">
                <label asp-for="AgeFrom" class="control-label"></label>
                <input asp-for="AgeFrom" class="form-control" />
                <span asp-validation-for="AgeFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeTo" class="control-label"></label>
                <input asp-for="AgeTo" class="form-control" />
                <span asp-validation-for="AgeTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {

            $("form").on('submit', function () {
                if ($("form").valid()) {
                    var result = true;
                    doesCampExist(function (res) {
                        result = res;
                    });

                    if (result) {
                        return true;
                    }
                    else {
                        $("#NameValidation").html("Camp Name \"<b>" + $("#Name").val() + "</b>\" under category \"<b>" + $("#CategoryId option:selected").text() + "</b>\" alredy exists.");
                        return false;
                    }
                }
            });
        });

        function doesCampExist(callback) {
            var res = false;
            var url = '@Url.Content("~/")' + "Camps/DoesCampExistAsync";
            var namesource = "#Name";
            var catsource = "#CategoryId";
            var data = { NAME: $(namesource).val(), CATEGORYID: $(catsource).val() };

            $.ajax({
                url: url,
                dataType: 'json',
                async: false,
                data: data,
                success: function (data) {
                    res = data;
                    callback(data);
                }
            });
        }
    </script>

}
