@model WCSummerCampRegistration.Models.ShoppingCart

@{
    ViewData["Title"] = "Details";
}
<br />
<h2>Menu Item Details</h2>
<hr />
<form method="post">
    <div class="form-border row">
        <div class="col-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="AvailWeek.Name" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="AvailWeek.Name" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="AvailWeek.CategoryId" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="AvailWeek.CategoryId" style="height:150px;" class="form-control" readonly></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="AvailWeek.CampId" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="AvailWeek.CampId" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                </div>
                <div class="col-8">
                    <button type="submit" value="Add to Cart" class="btn btn-primary form-control">Add To Cart</button>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            @*<img src="@Model.MenuItem.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9;" />*@
        </div>
        <br />
        <div class="form-group row col-12">
            <a asp-action="Index" class="btn btn-success"> Back to List</a>
        </div>
    </div>
    <input asp-for="AvailWeekId" hidden />
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    $(document).ready(function(){
        //getCamps();
        //$('#CategoryId').change(function () {
        //    getCamps();
        //})

        $("form").on('submit', function () {
            if ($("form").valid()) {
                var result = true;
                details2(function (res) {
                    result = res;
                });

                if (result) {
                    return true;
                }
                else {
                    $("#wnamevalidation").html("Week \"<b>" + $("#wname").val() + "</b>\" for category \"<b>" + $("#CategoryId option:selected").text() + "</b>\" and  for camp \"<b>" + $("#CampId option:selected").text() + "</b>\" alredy exists.");
                    return false;
                }
            }
        });

    });

    @*function getCamps() {
        var url = '@Url.Content("~/")' + "Home/GetCamps";
        var ddlsource = "#CategoryId";
        $.getJSON(url, { CategoryID: $(ddlsource).val() }, function (data) {
            var items = '';
            $("#CampId").empty();
            $.each(data, function (i, camp) {
                items += "<option value='" + camp.value + "'>" + camp.text + "</option>";
            });
            $('#CampId').html(items);
        })

    }*@

    function details2(callback) {
        var res = false;
        var url = '@Url.Content("~/")' + "Home/Details2";
        var namesource = "#wname";
        var catsource = "#CategoryId";
        var campsource = "#CampId";
        //var data = { NAME: $(namesource).val(), CATEGORYID: $(catsource).val(), CAMPID: $(campsource).val() };
        var data = { CAMPERID: 111, CATEGORYID: 222, CAMPID: 333, AVAILWEEKID: 444 };

        $.ajax({
            url: url,
            dataType: 'json',
            async: false,
            data: data,
            success: function (data) {
                res = data;
                callback(data);
            }
        });
    }

    </script>

}